<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/flatly/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/b6cd0ec0a6.js" crossorigin="anonymous"></script>
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>
<body>
    {% include "nav.jinja" %}
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {% block script_tag %}{% endblock script_tag %}
</body>
</html>