<div style="text-align: center;">
    <h1 style="color: rgba(33, 150, 243, 1);">Welcome to Fiscally {{user.first_name.capitalize()}}!</h1>
    <p>
        Thank you for signing up with Fiscally! <br />
        Now you can use Fiscally to calculate your pay, keep track of your bills, or even manage your savings!
        We've built a sleek and straightforward site for the best user experience possible. <br />
        Fiscally takes the effort out of being fiscally responsible. We hope you enjoy your experience!
        <br />
        <br />
        Best, <br />
        &nbsp; &nbsp; The Fiscally Team
    </p>
</div>