{% extends "base.jinja" %}

{% block title %}
    Bills
{% endblock title %}

{% block content %}
    {% for cat, msg in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{cat}} text-center">{{msg}}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-4 mb-2">
            <div class="card">
                <h4 class="card-header">Add A Bill</h4>
                <div class="card-body">
                    <form action="{{url_for('bills.bills_display')}}" method="POST" id="add_bill">
                        {{bill_form.hidden_tag()}}
                        <div class="form-group">
                            {{bill_form.bill_name.label}}
                            {{bill_form.bill_name(class_="form-control", placeholder="Enter A Bill Name")}}
                            {% for error in bill_form.bill_name.errors %}
                                <div class="text-danger ml-1">{{error}}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{bill_form.bill_due_date.label}}
                            {{bill_form.bill_due_date(class_="form-control")}}
                            {% for error in bill_form.bill_due_date.errors %}
                                <div class="text-danger ml-1">{{error}}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{bill_form.bill_amount.label}}
                            {{bill_form.bill_amount(class_="form-control", placeholder="Enter a Bill Amount")}}
                            {% for error in bill_form.bill_amount.errors %}
                                <div class="text-danger ml-1">{{error}}</div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-block btn-success">
                            <i class="fas fa-plus"></i>
                            &nbsp; Add Bill
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-3">
                            <h4 class="mb-1">Bills</h4>
                        </div>
                        <div class="col-9 text-right d-none edit-delete-div">
                            <div class="row justify-content-end">
                                <div class="col-md-4 py-9 pl-0 mb-1">
                                    <button class="btn btn-sm btn-success paid" style="width: 80px;">
                                        <i class="fas fa-dollar-sign"></i>
                                        &nbsp; Pay
                                    </button>
                                </div>
                                <div class="col-md-4 py-0 pr-sm-3 pl-0 mb-1">
                                    <button class="btn btn-sm btn-info edit-btn" style="width: 80px;">
                                        <i class="far fa-edit"></i>
                                        &nbsp; Edit
                                    </button>
                                </div>
                                <div class="col-md-4 py-0 pr-3 pl-0">
                                    <button class="btn btn-sm btn-danger delete-btn" style="width: 80px;">
                                        <i class="far fa-trash-alt"></i>
                                        &nbsp; Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-danger text-center errors p-0 m-0 d-none" style="color: white;">
                    You can only edit one bill at a time
                </div>
                {% if bills %}
                    <div class="table-responsive">
                    <table class="table table-sm table-striped text-center mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Select</th>
                                <th scope="col">Due Date</th>
                                <th scope="col">Bill</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bill in bills %}
                                {% if bill.is_paid == 'Paid' %}
                                    <tr data-bill-id="{{bill.id}}" class="table-success">
                                {% else %}
                                    <tr data-bill-id="{{bill.id}}">
                                {% endif %}
                                        <th scope="row">
                                            <input type="checkbox" />
                                        </th>
                                        <td>{{bill.bill_due_date.strftime('%m/%d/%Y')}}</td>
                                        <td>{{bill.bill_name}}</td>
                                        <td>${{bill.bill_amount}}</td>
                                        <td>{{bill.is_paid}}</td>
                                    </tr>
                            {% endfor %}    
                        </tbody>
                    </table>
                    </div>
                    <div class="py-2 text-center">
                        <b>Total Amount Due:</b>
                        {% if total_amount_due == 0 %}
                            <span class="text-success">${{total_amount_due}}</span>
                        {% else %}
                            <span class="text-danger">${{total_amount_due}}</span>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="bg-light text-center text-muted pt-3">
                        <p><em><b>No bills? Fill out the form to add some!</b></em></p>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock content %}

{% block script_tag %}
    <script type="module" src="{{url_for('static', filename='bills.js')}}"></script>
{% endblock script_tag %}