{% extends "base.jinja" %}

{% block title %}
    Bills
{% endblock title %}

{% block content %}
    <div class="row">
    
        <div class="col-md-4 mb-2">
            <div class="card">
                <h4 class="card-header">Add A Bill</h4>
                <div class="card-body">
                    <form action="{{url_for('bills.bills_display')}}" method="POST">
                        {{bill_form.hidden_tag()}}
                        <div class="form-group">
                            {{bill_form.bill_name.label}}
                            {{bill_form.bill_name(class_="form-control", placeholder="Enter A Bill Name")}}
                            {% for error in bill_form.bill_name.errors %}
                                <div class="text-danger ml-1">{{error}}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{bill_form.bill_due_date.label}}
                            {{bill_form.bill_due_date(class_="form-control")}}
                            {% for error in bill_form.bill_due_date.errors %}
                                <div class="text-danger ml-1">{{error}}</div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{bill_form.bill_amount.label}}
                            {{bill_form.bill_amount(class_="form-control", placeholder="Enter a Bill Amount")}}
                            {% for error in bill_form.bill_amount.errors %}
                                <div class="text-danger ml-1">{{error}}</div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-success float-right">
                            <i class="fas fa-plus"></i>
                            &nbsp; Add Bill
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <h4 class="card-header">Bills</h4>
                <table class="table table-sm table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">Select</th>
                            <th scope="col">Due Date</th>
                            <th scope="col">Bill</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">
                                <input type="checkbox" />
                            </th>
                            <td>08/12/2020</td>
                            <td>Car </td>
                            <td>$254.89</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock content %}