{% extends "base.jinja" %}

{% block title %}
    Edit Bill
{% endblock title %}

{% block content %}
    <h3 class="text-center text-primary">Edit {{bill.bill_name}} Bill</h3>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action="{{url_for('bills.edit_bill', bill_id=bill.id)}}" method="POST">
                        {{form.hidden_tag()}}
                        {% for field in form if field.widget.input_type != 'hidden' %}
                            <div class="form-group">
                                {{field.label}}
                                {{field(class_="form-control")}}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-block btn-info">
                            <i class="far fa-edit"></i>
                            &nbsp; Edit
                        </button>
                        <a href="{{url_for('bills.bills_display')}}" class="btn btn-block btn-secondary">
                            Cancel
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}