{% extends "base.jinja" %}

{% block title %}
    Fiscally
{% endblock title %}

{% block content %}
    {% include "anon_nav.jinja" %}
    <form action="/" method='POST'>
        {{form.hidden_tag()}}
        {{form.name.label}}
        {{form.name}}
        <button>Go</button>
    </form>
{% endblock content %}