{% extends "base.jinja" %}

{% block title %}
    Fiscally Login
{% endblock title %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-5">
            {% for cat, msg in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{cat}} text-center">
                    {{msg}}
                </div>
            {% endfor %}
            <div class="card">
                <div class="card-body">
                    <h2 class="text-primary text-center">Login</h2>
                    <form action="{{url_for('auth.login_display')}}" method="POST">
                        {{form.hidden_tag()}}
                        {% for field in form if field.widget.input_type != 'hidden' %}
                            <div class="form-group">
                                {{field.label}}
                                {{field(class_="form-control form-control-lg")}}
                                {% for err in field.errors %}
                                    <span class="text-danger ml-2">{{err}}</span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-lg btn-block btn-info mt-4">Sign In</button>
                    </form>
                    <div class="text-center mt-3">
                        <a href="{{url_for('auth.verify_email')}}">Forgot Password?</a>
                    </div>
                    <div class="row my-3">
                        <div class="col"><hr/></div>
                        <div class="col-auto">OR</div>
                        <div class="col"><hr/></div>
                    </div>
                    <div>
                        <a href="{{url_for('auth.google_login')}}" class="btn btn-lg btn-block btn-danger">
                            <i class="fab fa-google"></i>
                            &nbsp; Login With Google
                        </a>
                    </div>
                    <div class="text-center mt-3">
                        Don't have an account? 
                        <a href="{{url_for('auth.signup_display')}}">&nbsp; Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}