{% extends "base.jinja" %}

{% block title %}
    Fiscally Registration
{% endblock title %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-5">
            {% for cat, msg in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{cat}} text-center">
                    {{msg}}
                </div>
            {% endfor %}
            <div class="card">
                <div class="card-body">
                    <h2 class="text-primary text-center">Register</h2>
                    <form action="{{url_for('auth.signup_display')}}" method="POST">
                        {{form.hidden_tag()}}
                        <div class="form-group">
                            {{form.first_name.label}}
                            {{form.first_name(class_="form-control form-control-lg", placeholder="Enter First Name Here")}}
                            {% for error in form.first_name.errors %}
                                <span class="text-danger ml-2">{{error}}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{form.last_name.label}}
                            {{form.last_name(class_="form-control form-control-lg", placeholder="Enter Last Name Here")}}
                            {% for error in form.last_name.errors %}
                                <span class="text-danger ml-2">{{error}}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{form.email.label}}
                            {{form.email(class_="form-control form-control-lg", placeholder="Enter Email Here")}}
                            {% for error in form.email.errors %}
                                <span class="text-danger ml-2">{{error}}</span>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{form.password.label}}
                            {{form.password(class_="form-control form-control-lg", placeholder="Enter Password Here")}}
                            {% for error in form.password.errors %}
                                <p class="text-danger text-center ml-2"><small>{{error}}</small></p>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-info mt-4">Create Account</button>
                    </form>
                    <div class="row my-3">
                        <div class="col"><hr/></div>
                        <div class="col-auto">OR</div>
                        <div class="col"><hr/></div>
                    </div>
                    <div>
                        <a href="{{url_for('auth.google_login')}}" class="btn btn-lg btn-block btn-danger">
                            <i class="fab fa-google mr-1"></i>
                            Signup With Google
                        </a>
                    </div>
                    <div class="text-center mt-3">
                        Already have an account? 
                        <a href="{{url_for('auth.login_display')}}">&nbsp; Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}