{% extends "base.jinja" %}

{% block title %}
    Password Reset
{% endblock title %}


{% block content %}
    <div class="row justify-content-center text-center">
        <div class="col-md-7">
            {% for cat, msg in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{cat}} text-center">{{msg}}</div>
            {% endfor %}
            <div class="card mt-2">
                <div class="card-body">
                    <h2>Reset Your Password</h2>
                    <p class="lead my-4">
                        Please fill out the fields with your new password and submit to reset your password.
                    </p>
                    <form action="{{url_for('auth.reset_password')}}" method="POST">
                        {{form.hidden_tag()}}
                        <div class="form-group">
                            {{form.new_password.label}}
                            {{form.new_password(class_="form-control form-control-lg", placeholder="Enter new password here")}}
                            {% for error in form.new_password.errors %}
                                <p class="text-danger text-center ml-2"><small>{{error}}</small></p>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{form.verify_password.label}}
                            {{form.verify_password(class_="form-control form-control-lg", placeholder="Re-enter new password here")}}
                            {% for error in form.verify_password.errors %}
                                <p class="text-danger text-center ml-2"><small>{{error}}</small></p>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-info">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %} 