<div style="text-align: center;">
    <h1 style="color: rgba(33, 150, 243, 1);">Hello {{user.first_name.capitalize()}}!</h1>
    <p>
        This email is being sent to you as part of the password reset process. <br />
        Please use the verification code below to verify your account! <br />
        <b>Verification Code:</b> <br />
        {{code}}
        <br />
        <br />
        Best, <br />
        &nbsp; &nbsp; The Fiscally Team
    </p>
</div>