<div style="text-align: center;">
    <h1 style="color: rgba(33, 150, 243, 1);">Hello {{user.first_name.capitalize()}}!</h1>
    <p>
        Your account information was successfully updated! <br />
        Thank you for using Fiscally!
        <br />
        <br />
        Best, <br />
        &nbsp; &nbsp; The Fiscally Team
    </p>
</div>