{% extends "base.jinja" %}

{% block title %}
    Profile
{% endblock title %}

{% block content %}
    
    {# Summary #}
    <div class="row">
        <div class="col-md-5 mb-2">
            <div class="card">
                <h4 class="card-header text-primary text-center">Summary</h4>
                <div class="card-body">
                    dsfadsf
                </div>
            </div>
        </div>

        {# Stats #}
        <div class="col-md-7">
            <div class="card">
                <h4 class="card-header text-primary text-center">Details</h4>
                <div class="card-body">
                    
                    {# Paycheck Stats #}
                    <div class="card mb-3">
                        <div class="card-header text-primary">
                            <h5 class="d-inline">Paycheck History</h5>
                            <a href="#" class="btn btn-sm btn-success float-right" style="width: 120px;">
                                <i class="fas fa-plus"></i>
                                &nbsp; Add Paycheck
                            </a>
                        </div>
                        <table class="table table-sm table-striped text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Select</th>
                                    <th scope="col">Pay Date</th>
                                    <th scope="col">Gross</th>
                                    <th scope="col">Net</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <input type="checkbox" />
                                    </th>
                                    <td>08/12/2020</td>
                                    <td>$1000.00</td>
                                    <td>$854.89</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 

                    {# Bills Stats #}
                    <div class="card mb-3">
                        <div class="card-header text-primary">
                            <h5 class="d-inline">Monthly Bills</h5>
                            <a href="#" class="btn btn-sm btn-success float-right" style="width: 120px;">
                                <i class="fas fa-plus"></i>
                                &nbsp; Add Bill
                            </a>
                        </div>
                        <table class="table table-sm table-striped text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Select</th>
                                    <th scope="col">Due Date</th>
                                    <th scope="col">Bill</th>
                                    <th scope="col">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <input type="checkbox" />
                                    </th>
                                    <td>08/12/2020</td>
                                    <td>Car Note</td>
                                    <td>$352.76</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    {# Savings Stats #}
                    <div class="card mb-3">
                        <div class="card-header text-primary">
                            <h5 class="d-inline">Savings</h5>
                            <a href="#" class="btn btn-sm btn-success float-right" style="width: 120px;">
                                <i class="fas fa-plus"></i>
                                &nbsp; Add Savings
                            </a>
                        </div>
                        <h6 class="text-center">Savings Goal</h6>
                        <div class="progress">
                            <div class="progress-bar progess-bar-striped progress-bar-animated" role="progress bar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                        </div>
                        <table class="table table-sm table-striped text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Select</th>
                                    <th scope="col">Date Added</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <input type="checkbox" />
                                    </th>
                                    <td>08/12/2020</td>
                                    <td>$550.50</td>
                                    <td>$1250.50</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}