<div id="grossform" class="collapse" aria-labelledby="calculate-gross" data-parent="#pay-views">
    <div class="card-body">
        <div class="text-center mb-3">
            <h5 class="text-success" id="results"></h5>
        </div>
        <form action="" id="gross_form">
            <div class="form-group row">
                <label for="pay-rate" class="col-sm-2 col-form-label">Pay Rate</label>
                <div class="col-sm-9">
                    <input type="number" step="0.01" min="0.00" class="form-control" id="pay-rate">
                </div>
            </div>
            <div class="form-group row">
                <label for="week-1" class="col-sm-2 col-form-label">Week 1 Hours</label>
                <div class="col-sm-9">
                    <input type="number" step="0.01" min="0.00" class="form-control" name="week-1">
                    <small class="text-muted ml-2">Overtime is added at a rate of 1.5x of base pay for weeks over 40 hours.</small>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-success" id="add-hours">
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
            </div>
            <div id="append-to"></div>
            <button type="submit" class="btn btn-success mb-3 float-right">Calculate</button>
        </form>
    </div>
</div>