<div id="grossform" class="collapse" aria-labelledby="calculate-gross" data-parent="#pay-views">
    <div class="card-body">
        Here will be a basic form where you can add as many input weeks as you want then hit calculate
    </div>
</div>