{% extends "base.jinja" %}

{% block title %}
    Paychecks
{% endblock title %}

{% block content %}
    <h3 class="text-primary ml-2">Options</h3>
    <div class="accordion mb-3" id="pay-views">
        <div class="card">
            <div class="card-header" id="add-paycheck">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#addform" aria-expanded="true" aria-controls="addform">
                        Add A Paycheck
                    </button>
                </h2>
            </div>
            {% include "pay/add_paycheck.jinja" %}
        </div>
        <div class="card">
            <div class="card-header" id="calculate-hourly">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#hourlyform" aria-expanded="false" aria-controls="hourlyform">
                        Calculate Per-Pay-Period: Hourly Rate
                    </button>
                </h2>
            </div>
            {% include "pay/calculate_gross_hourly.jinja" %}
        </div>
        <div class="card">
            <div class="card-header" id="calculate-salary">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#salaryform" aria-expanded="false" aria-controls="salarylyform">
                        Calculate Per-Pay-Period: Annual Salary
                    </button>
                </h2>
            </div>
            {% include "pay/calculate_gross_salary.jinja" %}
        </div>
    </div>


    {% if paychecks %}
        <div class="card mb-4">
            <h4 class="card-header">Paychecks</h4>
            <div class="card-body">

                {% for paycheck in paychecks %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="row">
                                <div class="col align-self-center">
                                    <b>Pay Date:</b> &nbsp; {{paycheck.pay_date.strftime("%m/%d/%Y")}}
                                </div>
                                <div class="col text-right">
                                        {# action="{{url_for('pay.delete_paycheck', paycheck_id=paycheck.id)}}" #}
                                        <button class="btn btn-sm btn-danger">
                                            <i class="fas fa-trash-alt"></i>
                                            &nbsp; Delete
                                        </button>
                                    <form>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            {# pay settings/taxes #}
                            <div class="row border-bottom">
                                <div class="col">
                                    <div class="row mb-2">
                                        <div class="col">
                                            <b>Pay Frequency:</b>
                                        </div>
                                        <div class="col text-right">
                                            {{paycheck.pay_frequency}}
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col">
                                            <b>State:</b>
                                        </div>
                                        <div class="col text-right">
                                            {{paycheck.state}}
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col">
                                            <b>Filing Status:</b> 
                                        </div>
                                        <div class="col text-right">
                                            {{paycheck.filing_status}}
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col">
                                            <b>Exemptions:</b>
                                        </div>
                                        <div class="col text-right">
                                            {{paycheck.exemptions}}
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col">
                                            <b>Pre-Tax Deductions:</b>
                                        </div>
                                        <div class="col text-right">
                                            {{paycheck.pre_tax_deductions}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col border-left">
                                    <div class="row mb-2">
                                        <div class="col">
                                            <b>Federal Taxes:</b>
                                        </div>
                                        <div class="col text-right">
                                            {{paycheck.federal_taxes}}
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col">
                                            <b>{{paycheck.state}} Taxes:</b>
                                        </div>
                                        <div class="col text-right">
                                            {{paycheck.state_taxes}}
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col">
                                            <b>FICA Taxes:</b>
                                        </div>
                                        <div class="col text-right">
                                            {{paycheck.fica_taxes}}
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col">
                                            <b>Total Taxes:</b>
                                        </div>
                                        <div class="col text-right">
                                            ${{paycheck.total_deductions}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# gross pay/net pay #}
                            <div class="row">
                                <div class="col">
                                    <div class="row mt-2">
                                        <div class="col">
                                            <b>Gross Pay:</b> 
                                        </div>
                                        <div class="col text-right">
                                            ${{paycheck.gross}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col border-left">
                                    <div class="row mt-2">
                                        <div class="col">
                                            <b>Net Pay:</b> 
                                        </div>
                                        <div class="col text-right">
                                            ${{paycheck.net}}
                                        </div>
                                    </div>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block script_tag %}
    <script type="module" src="{{url_for('static', filename='pay.js')}}"></script>
{% endblock script_tag %}