{% extends "base.jinja" %}

{% block title %}
    Paychecks
{% endblock title %}

{% block content %}
    <h3 class="text-primary">Options</h3>
    <div class="accordion mb-3" id="pay-views">
        <div class="card">
            <div class="card-header" id="add-paycheck">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#addform" aria-expanded="true" aria-controls="addform">
                        Add A Paycheck
                    </button>
                </h2>
            </div>
            {% include "pay/add_paycheck.jinja" %}
        </div>
        <div class="card">
            <div class="card-header" id="calculate-gross">
                <h2 class="mb-0">
                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#grossform" aria-expanded="false" aria-controls="grossform">
                        Calculate Gross Pay
                    </button>
                </h2>
            </div>
            {% include "pay/calculate_gross.jinja" %}
        </div>
    </div>


    <div class="card">
        <h5 class="card-header">Paychecks</h5>
        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th scope="col">Select</th>
                    <th scope="col">Pay Date</th>
                    <th scope="col">Gross</th>
                    <th scope="col">Net</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">
                        <input type="checkbox" />
                    </th>
                    <td>08/12/2020</td>
                    <td>$1000.00</td>
                    <td>$854.89</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}

{% block script_tag %}
    <script src="{{url_for('static', filename='pay.js')}}"></script>
{% endblock script_tag %}