<div class="alert alert-warning text-center p-1 d-none goal-update">
    <div class="row">
        <div class="col">This will delete your current savings goal.</div>
    </div>
    <div class="row">
        <div class="col">Do you still want to proceed?</div>
    </div>
    <div class="row mt-2 justify-content-center">
        <div class="col-1">
            <button class="btn btn-sm btn-danger yes-btn">Yes</button>
        </div>
        <div class="col-1">
            <button class="btn btn-sm btn-info no-btn">No</button>
        </div>
    </div>
</div>
<div class="alert alert-warning text-center p-1 d-none end-goal-warning">
    <div class="row">
        <div class="col">Are you sure you want to end your current savings goal?</div>
    </div>
    <div class="row mt-2 justify-content-center">
        <div class="col-1">
            <button class="btn btn-sm btn-danger end-goal-btn">Yes</button>
        </div>
        <div class="col-1">
            <button class="btn btn-sm btn-info end-goal-cancel-btn">No</button>
        </div>
    </div>
</div>