<div id="savingstarget" class="collapse" aria-labelledby="savings-goal" data-parent="#savings-options">
    <div class="card-body">
        <form action="{{url_for('savings.savings_goal')}}" method="POST" class="goal-form">
            {{goal_form.csrf_token(id="csrf_token_2")}}
            <div class="form-group">
                {{goal_form.goal_start.label}}
                {{goal_form.goal_start(class_="form-control", min=goal_form.goal_start.data)}}
                {% for error in goal_form.goal_start.errors %}
                    <div class="text-danger ml-1">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{goal_form.goal_end.label}}
                {{goal_form.goal_end(class_="form-control", min=goal_form.goal_start.data)}}
                {% for error in goal_form.goal_end.errors %}
                    <div class="text-danger ml-1">{{error}}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{goal_form.goal_amount.label}}
                {{goal_form.goal_amount(class_="form-control", placeholder="Enter Goal Amount")}}
                {% for error in goal_form.goal_amount.errors %}
                    <div class="text-danger ml-1">{{error}}</div>
                {% endfor %}
            </div>
            <button class="btn btn-block btn-success">
                <i class="fas fa-plus"></i>
                &nbsp; Add Goal
            </button>
        </form>
    </div>
</div>