{% extends "base.jinja" %}

{% block title %}
    Savings
{% endblock title %}

{% block content %}
    {% for cat, msg in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{cat}} text-center" style="font-size: 1rem;">{{msg}}</div>
    {% endfor %}
    <div class="alert alert-danger text-center alert-div d-none" style="font-size: 1rem;"></div>
    <div class="row">
        <div class="col-md-4 mb-2">
            <h3 class="text-center text-primary">Savings Options</h3>
            <div class="accordion" id="savings-options">
                <div class="card">
                    <div class="card-header" id="transaction">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#transactionform" aria-expanded="true" aria-controls="transactionform">
                                Add/Withdraw Savings
                            </button>
                        </h2>
                    </div>
                    {% include "savings/transaction_form.jinja" %}
                </div>
                <div class="card">
                    <div class="card-header" id="savings-target">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#savingstarget" aria-expanded="true" aria-controls="savingstarget">
                                Add Savings Goal
                            </button>
                        </h2>
                    </div>
                    {% include "savings/savings_target_form.jinja" %}
                </div>
            </div>
        </div>

        <div class="col-md-8">


            {# Savings Goals Graphics #}
            <div class="row">
                <div class="col">
                    <h3 class="text-center text-primary">Savings Info</h3>
                    <div class="mb-2">
                        <div class="card">
                            {% if savings_goal %}
                                {% include "savings/savings_progress.jinja" %}
                            {% else %}
                                <h4 class="card-header text-primary">Savings Goal</h4>
                                <div class="bg-light text-center text-muted pt-3">
                                    <p><em><b>No savings goal? Fill out the savings goal form to add one!</b></em></p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>


            {# Savings activity table #}
            <div class="row">
                {% include "savings/savings_activity_table.jinja" %}
            </div>
        </div>

    
    </div>

{% endblock content %}

{% block script_tag %}
    <script type="module" src="{{url_for('static', filename='savings.js')}}"></script>
{% endblock script_tag %}