{% extends "base.jinja" %}

{% block title %}
    Savings
{% endblock title %}

{% block content %}

    <div class="row">
    
        <div class="col-md-4 mb-2">
            <h3 class="text-center">Savings Options</h3>
            <div class="accordion" id="savings-options">
                <div class="card">
                    <div class="card-header" id="transaction">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#transactionform" aria-expanded="true" aria-controls="transactionform">
                                Add/Withdraw Savings
                            </button>
                        </h2>
                    </div>
                    {% include "savings/transaction_form.jinja" %}
                </div>
                <div class="card">
                    <div class="card-header" id="savings-target">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#savingstarget" aria-expanded="true" aria-controls="savingstarget">
                                Add Savings Goal
                            </button>
                        </h2>
                    </div>
                    {% include "savings/savings_target_form.jinja" %}
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col">
                    <h2>Savings Total Here</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h4 class="mb-1">Savings Activity</h4>
                        </div>
                        <div class="col text-right d-none edit-delete-div">
                            <div class="row justify-content-end">
                                <div class="col-md-5 py-0 pr-sm-3 pl-0 mb-1">
                                    <button class="btn btn-sm btn-info edit-btn" style="width: 80px;">
                                        <i class="far fa-edit"></i>
                                        &nbsp; Edit
                                    </button>
                                </div>
                                <div class="col-md-5 py-0 pr-3 pl-0">
                                    <button class="btn btn-sm btn-danger delete-btn" style="width: 80px;">
                                        <i class="far fa-trash-alt"></i>
                                        &nbsp; Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-danger text-center errors p-0 m-0 d-none" style="color: white;">
                    You can only edit one savings entry at a time
                </div>
                    {% if savings_totals %}
                        <table class="table table-sm table-striped text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Select</th>
                                    <th scope="col">Date Added</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for (savings_entry, total_entry) in savings_totals %}
                                    <tr data-savings-entry-id="{{savings_entry.id}}">
                                        <th scope="row">
                                            <input type="checkbox" />
                                        </th>
                                        <td>{{savings_entry.savings_date}}</td>
                                        {% if savings_entry.transaction_type == '-' %}
                                            <td class="text-danger">- ${{savings_entry.amount}}</td>
                                        {% else %}
                                            <td class="text-success">+ ${{savings_entry.amount}}</td>
                                        {% endif %}
                                        <td>${{total_entry.total}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="bg-light text-center text-muted pt-3">
                            <p><em><b>No savings? Fill out the form to add some!</b></em></p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    
    </div>

{% endblock content %}

{% block script_tag %}
    <script type="module" src="{{url_for('static', filename='savings.js')}}"></script>
{% endblock script_tag %}